<template>
  <section>
    <div>
      <v-card>
        <h3>Contact us</h3>
        <p>Need to get in touch?</p>
        <v-btn color="primary">
          Chat with us now
          <v-icon>chat</v-icon>
        </v-btn>
      </v-card>
    </div>
  </section>
</template>


<style lang="scss" scoped>
section {
  & > div {
    display: inline-flex;

    .v-card {
      padding: 20px;

      .v-btn {
        .v-icon {
          margin-left: 10px;
        }
      }
    }
  }
}
</style>

<script>
export default {
  layout: "panel"
};
</script>