<template>
  <section>
    <h2>Quickstart</h2>
    <div class="d-flex justify-space-between mt-10 flex-column flex-md-row">
      <v-card>
        <label>Need to transcribe a file?</label>
        <nuxt-link to="/account/new-transcription">
          <v-btn color="primary">
            Create a new transcription
            <v-icon dark right>mdi-arrow-right</v-icon>
          </v-btn>
        </nuxt-link>
      </v-card>
    </div>
  </section>
</template>


<style lang="scss" scoped>
section {
  .v-card {
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 960px) {
      margin-top: 30px;
    }

    label {
      display: block;
      font-size: 25px;
    }
  }
}
</style>

<script>
import firebase from 'firebase'
export default {
  layout: "panel",
  methods: {
    createTranscription() {}
  },
  mounted() {
    firebase.auth().onAuthStateChanged(user => {
      if (user) {
        
      } else {
        this.$router.push('/login')
      }
    });
  }
};
</script>