<template>
  <div v-if="isLoading" class="preloader-wrapper">
    <Preloader />
    <v-btn color="primary" @click="cancelLoading">Cancel</v-btn>
  </div>
  <section v-else-if="!isLoading">
    <h2>New transcription</h2>
    <div class="loadTranscription">
      <form @submit.prevent="onSubmit">
        <div class="d-flex align-center justify-space-between">
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <v-btn class="langugage-menu__button" v-on="on">{{currentLanguage}}</v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(lang, index) in languages"
                :key="index"
                @click="pickLanguage(lang.code)"
              >
                <v-list-item-title>{{ lang.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>
          <v-text-field
            v-model="name"
            :error-messages="nameErrors"
            :counter="10"
            label="Name"
            required
            name="speechName"
            @input="$v.name.$touch()"
            @blur="$v.name.$touch()"
          ></v-text-field>
        </div>
        <v-textarea v-model="description" solo label="Description" name="speechDescription"></v-textarea>
        <input type="hidden" name="currentUser" v-model="currentUser" />
        <input type="hidden" name="currentLanguage" v-model="currentLanguage" />
        <input type="hidden" v-model="currentDate" name="dateOfLoad" />
        <p v-if="loadedFile || loadedVoice">{{label}}</p>
        <v-btn color="primary" class="loadTranscription__button">
          <input type="file" name="filedata" id="loadTranscriptionInput" @change="loadFile" />
          <label for="loadTranscriptionInput">
            Load a file
            <v-icon>attach_file</v-icon>
          </label>
        </v-btn>
        <v-btn color="primary" @click="activateMicrophone" v-if="!isRecording">
          record
          <v-icon>micro</v-icon>
        </v-btn>
        <v-btn color="error" @click="deactivateMicrophone" v-else-if="isRecording">
          stop
          <v-icon>micro</v-icon>
        </v-btn>
        <div>
          <v-btn color="success" type="submit">
            Send to transcribe &nbsp;
            <v-icon>send</v-icon>
          </v-btn>
        </div>
      </form>
    </div>
  </section>
</template>


<script>
import { validationMixin } from "vuelidate";
import { required, maxLength, email } from "vuelidate/lib/validators";
import Preloader from "@/components/Preloader";
import firebase from "firebase";
import getBlobDuration from 'get-blob-duration'
export default {
  layout: "panel",
  data: () => ({
    transcriptions: [],
    loadedFile: null,
    name: "",
    label: "",
    description: "",
    isLoading: false,
    currentUser: null,
    currentLanguage: "ENG",
    languages: [
      { id: 1, title: "Русский", code: "RUS" },
      { id: 2, title: "English", code: "ENG" }
    ],
    loadedVoice: {},
    mediaRecorder: {},
    isRecording: false
  }),
  async mounted() {
    firebase.auth().onAuthStateChanged(user => {
      if (!user) {
        this.$router.push("/login");
      } else {
        this.isLoading = false;
        this.currentUser = firebase.auth().currentUser.uid;
      }
    });
  },
  methods: {
    loadFile(e) {
      try {
        const file = e.target.files[0];
        const name = this.name;
        this.loadedFile = file;
        this.$store.dispatch("loadFile", {
          file,
          name
        });
        if (this.name == "") this.name = this.loadedFile.name;
        this.label = `name: ${this.loadedFile.name}, size: ${this.loadedFile.size}`;
        this.loadedVoice = null;
      } catch (e) {}
    },
    onSubmit(e) {
      window.fromNewTranscription = true;
      this.isLoading = true;
      this.label = null;
      new Promise((resolve, reject) => {
        if (this.loadedFile && !this.loadedVoice)
          setTimeout(async () => {
            this.loadedFile = null;
            let formData = new FormData(e.target);
            await formData.set("isFile", 1);

            if (this.isLoading) {
              await fetch("/account/transcriptions", {
                method: "POST",
                body: formData
              });
              this.$router.push("transcriptions");
            }
          }, 3500);
        else
          setTimeout(async () => {
            let formData = new FormData(e.target);
            const duration = await getBlobDuration(this.loadedVoice)
            await formData.set(
              "filedata",
              this.loadedVoice,
              this.name + ".mp3"
            );
            await formData.set("isFile", 0);
            await formData.set("duration", duration);

            if (this.isLoading) {
              await fetch("/account/transcriptions", {
                method: "POST",
                body: formData
              });
              this.$router.push("transcriptions");
            }
          }, 3500);
      }).then(() => {
        this.name = "";
      });
    },
    pickLanguage(code) {
      this.currentLanguage = code;
    },
    cancelLoading() {
      this.isLoading = false;
    },
    async activateMicrophone() {
      this.loadedVoice = [];
      await navigator.mediaDevices
        .getUserMedia({ audio: true })
        .then(stream => {
          const mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.addEventListener("dataavailable", e => {
            this.loadedFile = null;
            this.loadedVoice = e.data;
            this.label = `type: ${this.loadedVoice.type}, size: ${this.loadedVoice.size}`;
          });
          this.mediaRecorder = mediaRecorder;
        });
      this.isRecording = true;
      console.log("activate: ", this.isRecording);
      this.mediaRecorder.start();
    },
    deactivateMicrophone() {
      this.isRecording = false;
      console.log("deactivate: ", this.isRecording);
      this.mediaRecorder.stop();
    }
  },
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(20) }
  },
  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    currentDate() {
      return Date.now();
    }
  },
  submit() {
    this.$v.$touch();
  },
  components: {
    Preloader
  }
};
</script>


<style lang="scss" scoped>
section {
  .langugage-menu__button {
    margin-right: 20px;
  }
  .transcriptions__field {
    display: inline-flex;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  .loadTranscription {
    position: relative;
    input[type="file"] {
      background-color: transparent;
      background: none;
      outline: 0;
      opacity: 0;
      position: absolute;
    }
    &__button {
      .v-btn__content {
        width: 100%;
        height: 100%;
        display: block;
        padding: 0 16px;
      }
      label[for="loadTranscriptionInput"] {
        width: 100%;
        height: 100%;
        display: block;
      }
      input {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.preloader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;

  .v-btn {
    margin-top: 40px;
  }
}
</style>
