<template>
  <section>
    <v-container>
      <v-row>
        <h2>Account settings</h2>
        <v-btn class="edit-button" @click="changeData">{{editing ? 'save' : 'edit'}}</v-btn>
      </v-row>
      <div v-if="editing">
        <v-text-field label="Full name" v-model="fullName"></v-text-field>
        <!-- <v-text-field label="E-mail" v-model="email"></v-text-field> -->
        <v-text-field label="Birthday" v-model="wasBorn"></v-text-field>
      </div>
      <div v-else>
        <p>Fullname: {{fullName}}</p>
        <p>Email: {{email}}</p>
        <p>Birth date: {{wasBorn}}</p>
      </div>
    </v-container>
  </section>
</template>

<script>
import firebase from "firebase";
export default {
  layout: "panel",
  data: () => ({
    fullName: null,
    email: null,
    wasBorn: null,
    editing: false
  }),
  async mounted() {
    firebase.auth().onAuthStateChanged(async user => {
      if (!user) {
        this.$router.push("/login");
      } else {
        await this.$store.dispatch('setData')
        const userData = this.$store.state.settings
        this.fullName = userData.fullName
        this.email = userData.email
        this.wasBorn = userData.wasBorn
      }
    });
  },
  methods: {
    async changeData() {
      this.editing = !this.editing;

      if (!this.editing) {
        await this.$store.dispatch("changeData", {
          fullName: this.fullName,
          wasBorn: this.wasBorn,
          email: this.email
        });
      }
    }
  }
};
</script>

<style scoped lang="scss">
.edit-button {
  margin-left: 20px;
}
</style>