<template>
  <section>
    <v-container>
      <v-row>
        <h2>My transcriptions</h2>
        <nuxt-link to="/account/new-transcription" class="new-transcription-button">
          <v-btn>New</v-btn>
        </nuxt-link>
      </v-row>

      <v-row>
        <v-col cols="6" no-gutters>
          <v-list v-if="loadingFiles.length > 0">
            <v-list-item class="order-1" v-for="lf in loadingFiles" :key="lf.index">
              <v-card
                elevation="1"
                disabled
                width="100%"
                class="audio-card"
                :loading="!lf.barWidth"
              >
                <div class="loading">
                  <div
                    class="loading-bar"
                    :style="{width: lf ? lf.barWidth + '%' : ''}"
                    style="max-width: 100%; height: 4px"
                  ></div>
                </div>
                <div>
                  <v-card-title>File will be able soon</v-card-title>
                </div>
                <p>
                  <sub>{{lf.filename}}</sub>
                </p>
              </v-card>
            </v-list-item>
          </v-list>
          <Preloader v-if="isLoading" />
          <v-list rounded>
            <v-subheader>Files</v-subheader>
            <v-list-item-group color="primary" class="flex-column-reverse d-flex">
              <v-list-item
                v-for="(t, i) in myTrascriptions"
                :key="t.id"
                @click="chooseItem(i)"
                :data-transcription-id="t.id"
              >
                <v-list-item-icon>
                  <v-icon v-if="t.isFile">audiotrack</v-icon>
                  <v-icon v-else>mic</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title v-text="t.speechName"></v-list-item-title>
                  <v-list-item-subtitle v-text="t.filename"></v-list-item-subtitle>
                </v-list-item-content>
                <div>
                  <v-btn icon @click="preparingForRemoving(t.id)">
                    <v-icon>delete</v-icon>
                  </v-btn>
                  <v-btn icon @click="openEditWindow(i)">
                    <v-icon>edit</v-icon>
                  </v-btn>
                </div>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-col>
        <v-col cols="6" v-if="pickedItem">
          <v-card elevation="1">
            <v-card-title>
              {{pickedItem.speechName}}
              <v-btn icon @click="openEditWindow(pickedItem.order)">
                <v-icon>edit</v-icon>
              </v-btn>
            </v-card-title>
            <p>
              <time>
                <sub>{{Date(pickedItem.dateOfLoad)}}</sub>
              </time>
            </p>
            <div class="d-flex justify-around">
              <p class="pickedAudio-words">{{pickedItem.words}}</p>
              <v-btn icon>
                <v-icon>keyboard_arrow_down</v-icon>
              </v-btn>
            </div>
            <audio controls class="transcription-audio" :src="'/uploads/' + pickedItem.path"></audio>
          </v-card>
        </v-col>
      </v-row>
      <v-dialog v-model="deleteModal" max-width="290">
        <v-card>
          <v-card-title class="headline">Are you sure want to delete?</v-card-title>

          <v-card-text>Let Google help apps determine location. This means sending anonymous location data to Google, even when no apps are running.</v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="green darken-1" text @click="deleteFile">Delete</v-btn>
            <v-btn color="green darken-1" text @click="deleteModal = false">Keep</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-container>
    <EditTranscribe
      v-bind:isOpen="isEditWindowOpen"
      @editWindowClosed="isEditWindowOpen = false"
      v-bind:pickedItem="pickedItem"
    />
  </section>
</template>

<script>
import firebase from "firebase";
import Preloader from "@/components/Preloader";
import EditTranscribe from "@/components/EditTranscribe.vue";

export default {
  layout: "panel",
  data: () => ({
    myTrascriptions: [],
    loadingFiles: [],
    isLoading: true,
    pickedItem: null,
    isEditWindowOpen: false,
    deleteModal: false,
    prepareForDelete: null
  }),
  async mounted() {
    this.loadingFiles = this.$store.state.transcriptions.loadingFiles;
    await firebase.auth().onAuthStateChanged(user => {
      if (!user) {
        this.$router.push("/login");
      }
    });
    fetch("/account/get_transcriptions", {
      method: "POST"
    }).then(res =>
      res.json().then(json => {
        const transcriptions = JSON.parse(json);
        this.myTrascriptions = transcriptions.filter(
          t => t.currentUserID == firebase.auth().currentUser.uid
        );
        this.isLoading = false;
      })
    );
    if (window.fromNewTranscription) {
      await new Promise((resolve, reject) => {
        const ws = new WebSocket(
          `ws://${process.env.WS_CHANNEL}:${process.env.WS_PORT}`
        );
        ws.onopen = () => {
          console.log("Online");
          ws.onmessage = async response => {
            let data = JSON.parse(response.data);
            if (data) {
              console.log("data: ", data);
              const { currentID, counter, audioDuration, filename } = data;

              if (data.type && data.filename && data.audioDuration) {
                const loadingFile = {
                  audioDuration, 
                  currentID, 
                  barWidth: 0, 
                  filename
                };
                await this.$store.dispatch("addFileToQueue", loadingFile);
                console.log(this.$store.state.transcriptions.loadingFiles)
              } else {
                this.$store.dispatch("updateBarWidth", {
                  id: currentID, 
                  counter
                })
                this.loadingFiles = this.$store.state.transcriptions.loadingFiles;
                this.loadingFiles.forEach(lf => {
                  console.log(lf.barWidth)
                })
              }
            }
          };
        };

        // Get the latest transcription

        ws.onclose = async () => {
          await this.$store.dispatch("deleteFileFromQueue");
          this.loadingFiles = this.$store.state.transcriptions.loadingFiles;
          fetch("/account/get_transcriptions", {
            method: "POST"
          }).then(res =>
            res.json().then(json => {
              const transcriptions = JSON.parse(json);
              this.myTrascriptions = transcriptions.filter(
                t => t.currentUserID == firebase.auth().currentUser.uid
              );
              console.log("closed from client");
            })
          );
        };
      });
    }
  },
  components: { Preloader, EditTranscribe },
  methods: {
    chooseItem(i) {
      console.log(this.myTrascriptions[i]);
      const {
        speechName,
        path,
        words,
        dateOfLoad,
        speechDescription,
        id,
        originalSpeech,
        prevWords,
        beforePrevWords
      } = this.myTrascriptions[i];
      this.pickedItem = {
        speechName,
        path,
        words,
        dateOfLoad,
        order: i,
        speechDescription,
        id,
        originalSpeech,
        prevWords,
        beforePrevWords,
        newWords: words
      };
    },
    async deleteFile() {
      await fetch("/account/transcriptions/delete", {
        method: "DELETE",
        body: this.prepareForDelete
      });
      await fetch("/account/get_transcriptions", {
        method: "POST"
      }).then(res =>
        res.json().then(json => {
          const transcriptions = JSON.parse(json);
          this.myTrascriptions = transcriptions.filter(
            t => t.currentUserID == firebase.auth().currentUser.uid
          );
          this.deleteModal = false;
        })
      );
    },
    openEditWindow(i) {
      this.isEditWindowOpen = true;
    },
    preparingForRemoving(i) {
      this.deleteModal = true;
      this.prepareForDelete = i;
    },
    getOriginalSpeech() {}
  },
  computed: {},
  beforeDestroy() {
    window.fromNewTranscription = false;
  }
};
</script>

<style scoped lang="scss">
.fileItem:hover {
  background-color: #f6f6f6;
  cursor: pointer;
}

.transcription-audio {
  background: none;
  display: block;
  margin: 20px auto;
  outline: 0;
  width: 100%;
}

.speech-header {
  padding: 10px 16px;
}

.transcription__text {
  max-height: 400px;
  overflow-y: scroll;
}

.loading {
  width: 100%;
  height: 4px;
  border-radius: 3px;

  &-bar {
    background: #1867c0;
    width: 0;
    height: 100%;
  }
}

.transcriptions-list {
  display: flex;
  flex-direction: column-reverse;
  padding: 0;
}

.pickedAudio-words {
  height: 60px;
  text-overflow: ellipsis;
  overflow: hidden;

  &.long {
    height: auto;
    text-overflow: auto;
    overflow: visible;

    & + .v-btn > .v-icon {
      transform: rotate(180deg);
    }
  }
}

.speechName {
  outline: 0;
  max-width: 100%;
  width: 100%;
  padding: 0;

  &.editing {
    font-size: 15px;
  }
}

.arrow-btn {
  .v-icon {
    &.rotated {
      transform: rotate(180deg);
    }
  }
}

.audio-card {
  cursor: pointer;
  transition: 0.3s ease all;
  &:hover {
    background-color: #e2e2e2;
  }
}

.v-card {
  margin-top: 20px;
  p {
    padding: 10px 16px 0;
  }
}

.speech-textarea {
  padding: 16px;
}

.new-transcription-button {
  margin-left: 20px;
}
</style>