<template>
  <v-row justify="center">
    <v-dialog v-model="isOpen" fullscreen hide-overlay transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar dark color="primary">
          <v-btn icon dark @click="closeEditWindow">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Edit transription</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-toolbar-items>
            <v-btn dark text @click="saveAndUpdate">Save</v-btn>
          </v-toolbar-items>
        </v-toolbar>
        <v-container v-if="pickedItem">
          <v-text-field v-model="pickedItem.speechName" label="Name"></v-text-field>
          <v-textarea auto-grow label="Description" v-model="pickedItem.speechDescription"></v-textarea>
          <v-textarea solo clear-icon="cancel" label="Words" v-model="pickedItem.newWords"></v-textarea>
          <div class="d-flex justify-end">
            <v-tooltip left>
              <template v-slot:activator="{ on }">
                <v-btn icon @click="oneStepBack" v-on="on" :disabled="isStepDisabled">
                  <v-icon>undo</v-icon>
                </v-btn>
              </template>
              <span>One edition earlier</span>
            </v-tooltip>

            <v-tooltip top>
              <template v-slot:activator="{ on }">
                <v-btn icon @click="restoreToOriginalSpeech" v-on="on">
                  <v-icon>restore</v-icon>
                </v-btn>
              </template>
              <span>Restore to original recognize</span>
            </v-tooltip>
          </div>
        </v-container>
        <p v-else>There is no a picked item</p>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
export default {
  props: {
    isOpen: Boolean,
    pickedItem: Object
  },
  data: () => ({
    isPrevWordsWrited: false,
    stepCounter: 0,
    isStepDisabled: false
  }),
  methods: {
    closeEditWindow() {
      this.$emit("editWindowClosed", {
        isEditWindowOpen: false
      });
    },
    mounted() {
      console.log(this.pickedItem);
      this.pickedItem.newWords = this.pickedItem.words;
      if (this.pickedItem.prevWords == "") this.isStepDisabled = true;
    },
    async restoreToOriginalSpeech() {
      this.pickedItem.newWords = this.pickedItem.originalSpeech;
      this.pickedItem.beforePrevWords = this.pickedItem.prevWords;
      this.pickedItem.prevWords = this.pickedItem.words;
      this.isStepDisabled = true;
    },
    async saveAndUpdate() {
      this.pickedItem.beforePrevWords = this.pickedItem.prevWords;
      this.pickedItem.prevWords = this.pickedItem.words;
      this.pickedItem.words = this.pickedItem.newWords;
      console.log(this.pickedItem);
      await fetch("/account/transcriptions/save_and_update", {
        method: "POST",
        body: JSON.stringify(this.pickedItem)
      }).then(() => {
        this.$emit("editWindowClosed", {
          isEditWindowOpen: false
        });
      });
    },
    oneStepBack() {
      this.stepCounter--;
      if (this.stepCounter === -1) {
        this.pickedItem.newWords = this.pickedItem.prevWords;
      } else if (this.stepCounter === -2) {
        this.pickedItem.newWords = this.pickedItem.beforePrevWords;
        this.isStepDisabled = true;
      }
    }
  }
};
</script>