<template>
  <header>
    <Logo />
    <nav v-if="!isAuth">
      <nuxt-link to="/login">
        <v-btn small>Login</v-btn>
      </nuxt-link>
      <nuxt-link to="/registration">
        <v-btn small color="primary">Get started for free</v-btn>
      </nuxt-link>
    </nav>
    <nav v-else>
      <nuxt-link to="/account/home">
        <v-btn small color="primary">Go to console</v-btn>
      </nuxt-link>
    </nav>
  </header>
</template>

<script>
import Logo from "./Logo";
import firebase from "firebase";
export default {
  name: "Header",
  components: {
    Logo
  },
  data: () => ({
    isAuth: false
  }),
  methods: {},
  async mounted() {
    await new Promise((resolve, reject) => {
      firebase.auth().onAuthStateChanged(async user => {
        if (user) {
          this.$store.state.auth.isAuth = true;
        } else {
          this.$store.state.auth.isAuth = false
        }
        resolve(this.$store.state.auth.isAuth);
      });
    }).then(res => {
      this.isAuth = this.$store.state.auth.isAuth;
    });
  }
};
</script>

<style scoped lang="scss">
header {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 7px 0.5px rgba(0, 0, 0, 0.34);
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      &:first-child {
        margin-right: 20px;
      }
    }
  }
}
</style>