<template>
  <div class="sk-wave">
    <div class="sk-rect sk-rect-1"></div>
    <div class="sk-rect sk-rect-2"></div>
    <div class="sk-rect sk-rect-3"></div>
    <div class="sk-rect sk-rect-4"></div>
    <div class="sk-rect sk-rect-5"></div>
  </div>
</template>

<style lang="scss" scoped>
$spinkit-size: 4em !default;
$spinkit-spinner-color: #337ab7 !default;

@keyframes sk-wave-stretch-delay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1.0);
  }
}

.sk-wave {
  $rectCount: 5;
  $animationDuration: 1.2s;
  $delayRange: 0.4s;

  width: $spinkit-size * 1.5;
  height: $spinkit-size;
  margin: 0 auto;
  text-align: center;
  font-size: 1em;

  .sk-rect {
    background-color: $spinkit-spinner-color;
    height: 100%;
    width: 0.5em;
    display: inline-block;
    animation: sk-wave-stretch-delay $animationDuration infinite ease-in-out;
  }

  @for $i from 1 through $rectCount {
    .sk-rect-#{$i} {
      animation-delay: -$animationDuration +
        $delayRange /
        ($rectCount - 1) *
        ($i - 1);
    }
  }
}
</style>

<script>
export default {
    name: 'Preloader'
}
</script>