<template>
  <aside>
    <nav>
      <ul>
        <li>
          <nuxt-link to="/account/home">
            <v-icon>home</v-icon>Home
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/account/transcriptions">
            <v-icon>insert_drive_file</v-icon>My transcriptions
          </nuxt-link>
        </li>

        <li>
          <nuxt-link to="/account/contact-us">
            <v-icon>mail</v-icon>Contact Us
          </nuxt-link>
        </li>
        <li>
          <nuxt-link to="/account/settings">
            <v-icon>settings</v-icon>Settings
          </nuxt-link>
        </li>
      </ul>
    </nav>
  </aside>
</template>

<style lang="scss" scoped>
aside {
  width: fit-content;
  height: 100%;
  border-right: 1px solid lightgrey;
  nav {
    height: inherit;
    ul {
      height: inherit;
      padding: 15px;
      display: flex;
      flex-direction: column;
      li {
        margin-top: 20px;
        list-style: none;
        white-space: nowrap;
        a {
          text-decoration: none;
          font-size: 20px;
          color: dimgray;

          .v-icon {
            margin-right: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
</style>

<script>
export default {
  name: "Sidebar"
};
</script>