<template>
  <v-toolbar>
    <v-app-bar-nav-icon @click="onBurgerClick"></v-app-bar-nav-icon>
    <v-toolbar-title>Vocalmatic Analog</v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
      <v-icon>mdi-magnify</v-icon>
    </v-btn>
    <!-- <v-btn icon>
      <v-icon>mdi-heart</v-icon>
    </v-btn>-->

    <v-menu offset-y>
      <template v-slot:activator="{ on }">
        <v-btn icon v-on="on">
          <v-icon>mdi-dots-vertical</v-icon>
        </v-btn>
      </template>
      <v-list>
        <v-list-item-group >
          <v-list-item @click="logout">
            <v-list-item-icon>
              <v-icon>exit_to_app</v-icon>
            </v-list-item-icon>
            <v-list-item-content>Logout</v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-menu>
  </v-toolbar>
</template>

<style lang="scss" scoped>
.v-toolbar {
  width: 100%;
  max-width: 100%;
}
</style>

<script>
export default {
  name: "Toolbar",
  data: () => ({}),
  methods: {
    onBurgerClick() {
      this.$emit("toggleClass");
    },
    logout() {
      this.$store.dispatch('logout')
      this.$router.push('/')
    }
  }, 
};
</script>