<template>
  <Preloader v-if="loading" />
  <v-app class="app" v-else>
    <Header />
    <nuxt />
  </v-app>
</template>

<script>
import firebase from 'firebase'
import Header from "@/components/Header";
import messages from "@/plugins/messages";
import Preloader from "@/components/Preloader"
import M from "materialize-css";
export default {
  data: () => ({
    loading: true
  }), 
  components: {
    Header, 
    Preloader
  },
  computed: {
    error() {
      return this.$store.getters.error;
    }
  },
  watch: {
    error(fbError) {
      this.$error(messages[fbError.code] || "Something is wrong...");
    }
  },
  async mounted() {
    M.AutoInit();
    await firebase.auth().onAuthStateChanged(user => {
      this.loading = false
    });
  }
};
</script>

<style  lang="scss">
.app {
  font-family: "Roboto", sans-serif;

  a {
    text-decoration: none;
  }
}

.toast {
  position: absolute;
  z-index: 9999;
  width: 200px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 10px;
  color: white;
  height: 50px;
  background-color: #282c34;
  left: 50%;
  transform: translateX(-50%);
}
section {
  padding: 0 100px;
  width: 100%;
}
</style>