<template>
  <v-app class="app">
    <Preloader v-if="loading" />
    <div class="h-100" v-else>
      <Toolbar @toggleClass="isSidebarOpen = !isSidebarOpen" class="toolbar" />
      <div class="d-flex h-100 workspace">
        <Sidebar class="sidebar-wrapper" :class="{ open: isSidebarOpen }" />
        <nuxt />
      </div>
    </div>
  </v-app>
</template>


<style lang="scss" scoped>
.app {
  .sidebar-wrapper {
    height: 100%;
    transform: translateX(-100%) scaleX(0);
    transition: 0.5s all ease;
    z-index: 3;
    width: 0;
    &.open {
      transform: translateX(0);
      width: fit-content;
    }
  }

  .toolbar {
    transition: 0.5s all ease;
    z-index: 0;
  }

  .workspace {
    transition: 1s all ease;
  }

  .h-100 {
    height: 100%;
  }

  section {
    padding: 50px;
  }
}
</style>

<script>
import Sidebar from "@/components/Sidebar";
import Toolbar from "@/components/Toolbar";
import Preloader from "@/components/Preloader";
import firebase from "firebase";
export default {
  components: {
    Sidebar,
    Toolbar,
    Preloader
  },
  data: () => ({
    isSidebarOpen: true,
    loading: true
  }),
  async mounted() {
    await firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.loading = false;
      }
    });
  }
};
</script>