<template>
  <section>
    <h1>Automatically Transcribe Your Audio and Video into Text</h1>
    <p>Save yourself lots of time transcribing with Vocalmatic</p>
    <nuxt-link to="/registration">
      <v-btn color="primary" x-large>
        GET STARTED FOR FREE
        <v-icon dark right>mdi-arrow-right</v-icon>
      </v-btn>
    </nuxt-link>

    <p class="text-breaked">
      <strong>22928 minutes</strong>
      of audio and video were converted
      <br />into text in the past 7 days
    </p>
  </section>
</template>

<script>
import firebase from "firebase";
export default {
  layout: "default",
  data: () => ({
    isAuth: false
  }),
  async mounted() {
    await firebase.auth().onAuthStateChanged(user => {
      if (user) {
        this.$store.state.auth.isAuth = true;
      } else {
      }
    });
    this.isAuth = this.$store.state.auth.isAuth;
  }
};
</script>

<style lang="scss" scoped >
section {
  height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  text-align: center;
}
</style>