<template>
  <section>
    <Preloader v-if="isLoading" />
    <form v-if="!isLoading">
      <v-text-field
        v-model="email"
        :error-messages="emailErrors"
        label="Your e-mail"
        required
        @input="$v.email.$touch()"
        @blur="$v.email.$touch()"
      ></v-text-field>
      <v-text-field
        v-model="password"
        :error-messages="passwordErrors"
        label="Password"
        required
        type="password"
        @input="$v.password.$touch()"
        @blur="$v.password.$touch()"
      ></v-text-field>

      <div class="support-labels">
        <p>
          New here?
          <nuxt-link to="/register"> Register an account</nuxt-link>
        </p>
        <p>
          Forgot password?
          <nuxt-link to="/reset-password">Reset your password</nuxt-link>
        </p>
      </div>

      <div class="buttons">
        <v-btn class="mr-4" color="primary" @click="submit">login</v-btn>
      </div>
    </form>
  </section>
</template>

<style lang="scss" scoped>
section {
  margin-top: 60px;

  .buttons {
    margin-top: 30px;
  }

  .support-labels {
    margin-top: 20px;
  }
}
</style>

<script>
import Preloader from '@/components/Preloader'
import { validationMixin } from "vuelidate";
import {
  required,
  maxLength,
  email,
  minLength
} from "vuelidate/lib/validators";

export default {
  layout: "default",
  mixins: [validationMixin],

  validations: {
    name: { required, maxLength: maxLength(10) },
    email: { required, email },
    password: { required, minLength: minLength(6) }
  },

  data: () => ({
    name: "",
    email: "",
    password: "", 
    isLoading: false
  }),

  computed: {
    nameErrors() {
      const errors = [];
      if (!this.$v.name.$dirty) return errors;
      !this.$v.name.maxLength &&
        errors.push("Name must be at most 10 characters long");
      !this.$v.name.required && errors.push("Name is required.");
      return errors;
    },
    emailErrors() {
      const errors = [];
      if (!this.$v.email.$dirty) return errors;
      !this.$v.email.email && errors.push("Must be valid e-mail");
      !this.$v.email.required && errors.push("E-mail is required");
      return errors;
    },
    passwordErrors() {
      const errors = [];
      if (!this.$v.password.$dirty) return errors;
      !this.$v.password.required && errors.push("Password is required");
      return errors;
    }
  },
  mounted() {
    this.$message('Sign in')
    this.isLoading = false
  }, 
  methods: {
    async submit() {
      if (this.$v.invalid) {
        this.$v.$touch();
        return;
      }
      const formData = {
        email: this.email,
        password: this.password,
        name: this.name
      };
      try {
        this.isLoading = true
        await this.$store.dispatch("login", formData);
        this.$router.push("/account/home");
      } catch (e) {
        this.isLoading = false
      }
    },
    clear() {
      this.$v.$reset();
      this.name = "";
      this.email = "";
      this.select = null;
      this.checkbox = false;
    }
  }, 
  components: {
    Preloader
  }
};
</script>