<template>
  <section>
    <v-form>
      <v-text-field
        v-model="email"
        label="Your e-mail"
        required
      ></v-text-field>
    </v-form>
  </section>
</template>

<script>
export default {
    data: () => ({
        email: ''
    }), 
    
}
</script>